{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container mx-auto mt-8 flex">
    <!-- Sidebar -->
    <div id="sidebar"
        class="w-16 h-screen bg-gray-800 text-white fixed top-0 right-0 transition-transform transform translate-x-full">
        <div class="p-4 cursor-pointer" onclick="toggleSidebar()">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </div>
        <!-- Add other sidebar content here -->
    </div>

    <!-- Main Content -->
    <div class="flex-1 ml-16">
        <!-- Rest of your content goes here -->
        <!-- ... -->

        <!-- User Profile and Info -->
        <div class="user-profile items-center text-center mb-8 my-8">
            <div class="flex flex-col items-center">
                <img src="/media/inception.jpeg" alt="user-profile" class="mx-auto w-32 h-32 rounded-full">
                <h1 class="text-3xl font-bold">{{ user.username }} Ravi</h1>
                <p>{{ user.email }} xyz@gmail.com</p>
            </div>
        </div>


        <!-- Movie Status -->
        <div class="movie-status mt-8 grid grid-cols-8 my-24">
            <!-- ... -->

            <!-- Watched Movies -->
            <div class="favorite-movies mt-8 col-span-4">
                <h2 class="text-xl font-bold mb-4">Watched Movies:</h2>
                {% if user_tracking %}
                {% if watched_movies %}
                <ul class="grid grid-cols-2 gap-8">
                    {% for movie in watched_movies %}
                    <a href="{% url 'moviesearch' %}?movie_id={{ movie.id }}" class="flex items-center">
                        <img src="/media/inception.jpeg" alt="{{ movie.title }}"
                            class="w-32 h-16 object-cover rounded mr-2">
                        <span>{{ movie.title }}</span>
                    </a>
                    {% empty %}
                    <li>No watched movies.</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No watched movies.</p>
                {% endif %}
                {% endif %}
            </div>


            <!-- Favorite Movies -->
            <div class="favorite-movies mt-8 col-span-4 ">
                <h2 class="text-xl font-bold mb-4">Favorite Movies:</h2>
                {% if user_tracking %}
                {% if favorite_movies %}
                <ul class="grid grid-cols-2 gap-4">
                    {% for movie in favorite_movies %}
                    <a href="{% url 'moviesearch' %}?movie_id={{ movie.id }}" class="flex items-center">
                        <img src="/media/inception.jpeg" alt="{{ movie.title }}"
                            class="w-32 h-16 object-cover rounded mr-2">
                        <span>{{ movie.title }}</span>
                    </a>
                    {% empty %}
                    <li>No favorite movies.</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No favorite movies.</p>
                {% endif %}
                {% endif %}
            </div>

        </div>

    </div>

</div>

<script>
    function toggleSidebar() {
        const sidebar = document.getElementById('sidebar');
        sidebar.classList.toggle('translate-x-full');
    }
</script>

{% endblock %}