* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#header {
    position: sticky;
    top: 0;
    z-index: 10;
    height: 30px;
}

#header .navbar {
    background-image: linear-gradient(to right, #a517ba, #5f1782) !important;
    padding: 30px !important;
    
}



#header .navbar-nav li {
    padding: 0 10px;
    margin: 0;
}

#header .navbar-nav li a {
    color: #ffff;
}

#header .navbar {
    background-image: -webkit-linear-gradient(to right, #a517ba, #5f1782);
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 20px !important;
}

#footer{
    
    position: sticky;
    z-index: 10;
}


