.container{
    display: flex;
    flex-direction: column;

}
.movie-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 30px;
}
.movie-recommendations{
    margin-top: 30px;
    
}