{% extends 'base.html' %}
{% load static %}

<!-- ----- home.html  ---------- -->
{% block title %}Home{% endblock %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<!-- Add these links to your HTML file -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

{% block content %}
<!-- Featured Movies Carousel -->
<section id="featured-movies">
    <h2>Featured Movies</h2>
    <div class="carousel-container">
    <div id="carouselFeaturedMovies" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for featured_movie in featured_movies %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ featured_movie.image_path }}" alt="{{ featured_movie.title }}" class="fixed-size-image">

            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselFeaturedMovies"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselFeaturedMovies"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
</section>





  

  

{% endblock %}