{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
    <h1>Movie Search</h1>
    <form method="get">
        <label for="movie_id">Enter Movie ID:</label>
        <input type="text" id="movie_id" name="movie_id" required>
        <button type="submit">Search</button>
    </form>
    
    {% if movie %}
    <h2>{{ movie.title }}</h2>
    <img src="{{ 'media/inception.jpeg' }}" alt="{{ movie.title }} Poster">
    
    <p>{{ movie.description }}</p>
    
    {% if recommended_movies %}
    <h3>Recommended Movies</h3>
    <ul>
        {% for recommended_movie in recommended_movies %}
        <li>{{ recommended_movie.title }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>{{ error_message }}</p>
    {% endif %}
    {% endif %}
</div>

{% endblock %}