{% extends 'base.html' %}
{% block title %}Movie Search{% endblock %}

{% block content %}

<div class="flex justify-between">

    {% if authenticated %}
    <div class="flex pr-8">
        <div class="flex flex-col mr-4 items-center">
            <img src="{{ 'media/inception.jpeg' }}" class="rounded-md" alt="{{ movie.title }} Poster">
            {% if movie %}
            <div class="mt-4">
                <h2 class="text-xl mb-2">{{ movie.title }}</h2>
                <p class="mb-1"><b>Movie id:</b> {{ movie.id }}</p>
                <p class="mb-1"><b>Genres:</b> {{ movie.genres }}</p>
                <p class="mb-1"><b>Language:</b> {{ movie.language }}</p>
                <p class="mb-1"><b>Year:</b> {{ movie.year }}</p>
                <p class="mb-2"><b>Overview:</b> {{ movie.overview }}</p>
            </div>
            {% endif %}
        </div>

        <form id="statusForm" action="{% url 'update_status' %}" method="post" class="mt-4">
            {% csrf_token %}
            <input type="hidden" name="movie_id" value="{{ movie.id }}">
            <input type="hidden" name="movieTitle" value="{{ movie.title }}">
            
            <div class="mb-2">
                <input type="checkbox" value="watched" id="watchedCheckbox" name="statusCheckbox"
                    {% if movie in user_tracking.watched_movies.all %}checked{% endif %}>
                <label for="watchedCheckbox" class="ml-1">Watched</label>
            </div>

            <div class="mb-2">
                <input type="checkbox" value="favorite" id="favoriteCheckbox" name="statusCheckbox"
                    {% if movie in user_tracking.favorite_movies.all %}checked{% endif %}>
                <label for="favoriteCheckbox" class="ml-1">Favorite</label>
            </div>

            <button type="submit" id="updateStatusButton" class="hidden">Update Status</button>
        </form>
    </div>


    <div>
        {% if recommended_movies %}
        <h2 class="mb-4">You may also like</h2>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for movie in recommended_movies %}
                <div class="swiper-slide" style="width: 12rem; height: max-content; padding-top: 1em;">
                    <a href="{% url 'moviesearch' %}?movie_id={{ movie.id }}">
                        <img src="/media/inception.jpeg" class="rounded-md" alt="{{ movie.title }}">
                        <p class="mt-2">{{ movie.title }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>

<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 6,
        spaceBetween: 20,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>

{% endblock %}
