{% extends 'base.html' %}
{% load static %}

{% block title %}Movies{% endblock %}

{% block content %}
<!-- Top  movies Movies -->
<section id="top-10-movies">
    <h2>Top 10 Movies</h2>
    <div id="carouselTopEnglishMovies" class="carousel slide" data-bs-ride="carousel">
        {% for featured_movie in top_movies %}
        <div class="carousel-inner">
            {% if authenticated %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <a href="{% url 'moviesearch' %}?movie_id={{featured_movie.id}}">
                    <img src="{{ 'media/batman_begins.jpeg' }}" alt="{{ featured_movie.title }}"
                        class="fixed-size-image">

                </a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTopEnglishMovies"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselTopEnglishMovies"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>



<!-- Top English Movies -->
<section id="top-english-movies" class="movie-section">
    <h2 class="text-3xl font-bold mb-4">Top 10 English Movies</h2>
    <div class="swiper-container" style="height: fit-content;">
        <div class="swiper-wrapper">
            {% for movie in top_englishmovies %}
            <div class="swiper-slide" style="width: 15rem; height: max-content; padding-top: 1em;">
                <a href="{% url 'moviesearch' %}?movie_id={{ movie.id }}" id="poster">
                    <img src="/media/inception.jpeg" style="border-radius: 10px;" alt="{{ movie.title }}"
                        class="w-full h-48 object-cover mb-2">
                    <p class="text-center">{{ movie.title }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Top Hindi Movies -->
<section id="top-hindi-movies" class="movie-section">
    <h2 class="text-3xl font-bold mb-4">Top 10 Hindi Movies</h2>
    <div class="swiper-container" style="height: fit-content;">
        <div class="swiper-wrapper" style="height: fit-content;">
            {% for movie in top_hindimovies %}
            <div class="swiper-slide" style="width: 15rem; height: max-content; padding-top: 1em;">
                <a href="{% url 'moviesearch' %}?movie_id={{ movie.id }}">
                    <img src="/media/inception.jpeg" style="border-radius: 10px;" alt="{{ movie.title }}"
                        class="w-full h-48 object-cover mb-2">
                    <p class="text-center">{{ movie.title }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<!-- Top Romance Movies -->
<section id="top-hindi-movies" class="movie-section">
    <h2 class="text-3xl font-bold mb-4">Top 10 Hindi Movies</h2>
    <div class="swiper-container" style="height: fit-content;">
        <div class="swiper-wrapper" style="height: fit-content;">
            {% for movie in top_hindimovies %}
            <div class="swiper-slide" style="width: 15rem; height: max-content; padding-top: 1em;">
                <a href="{% url 'moviesearch' %}?movie_id={{ movie.id }}">
                    <img src="/media/inception.jpeg" style="border-radius: 10px;" alt="{{ movie.title }}"
                        class="w-full h-48 object-cover mb-2">
                    <p class="text-center">{{ movie.title }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>




<script>
    // Initialize Swiper for Top English Movies
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 7,
        spaceBetween: 15,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    // Initialize Swiper for Top Hindi Movies
    // var swiperHindi = new Swiper('.swiper-container', {
    //     slidesPerView: 5,
    //     spaceBetween: 20,
    //     pagination: {
    //         el: '.swiper-pagination',
    //         clickable: true,
    //     },
    //     navigation: {
    //         nextEl: '.swiper-button-next',
    //         prevEl: '.swiper-button-prev',
    //     },
    // });

    // Initialize Swiper for Top Romance Movies
    // var swiperRomance = new Swiper('#carouselTopRomanceMovies', {
    //     slidesPerView: 5,
    //     spaceBetween: 10,
    //     navigation: {
    //         nextEl: '.carousel-control-next',
    //         prevEl: '.carousel-control-prev',
    //     },
    // });
</script>


{% endblock %}