.movie-details{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.movie-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.movie-info .poster{
    display: flex;
    align-items: center;
}
.movie-info .data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.movie-recommendations{
    margin-top: 30px;
    
}

